body {
  text-align: center;
  margin: 0;
  height: 100%;
  background-color: #f3f3f3;
}

/*最外層container*/
.p_ni {
  width: 100%;
  height: 84%;
}

header {
  display: flex;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  height: 8%;
}

#ham {
  margin-left: 2%;
}

/*搜尋欄跟放大鏡的父層*/
.p_search {
  position: relative;
  height: 12%;
}

input[type="text"] {
  margin: 1% 2.5% 0 2.5%;
  width: 95%;
  height: 70%;
  border-radius: 7px;
  border-style: solid;
  border-color: #484848;
  border-width: 1px;
  background-color: #f3f3f3;
}

/*放大鏡*/
.p_q {
  position: absolute;
  right: 3.5%;
  top: 35%;
  width: 2.5%;
}

/*篩選條件*/
.p_select-btn-show {
  height: 6%;
}

input[type="submit"] {
  margin-top: 0.5%;
  border-radius: 7px;
  background-color: #2B2D34;
  color: white;
  border: none;
  width: 15%;
  height: 80%;
  font-size: 90%;
}

/*篩選條件延展*/
.p_select-btn-extend {
  height: 60%;
  width: 45%;
  margin: 0px auto;
}

/*延展後大方格*/
.p_select_detail {
  display: flex;
  flex-direction: column;
  background-color: #2B2D34;
  position: relative;
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

/*篩選條件的字*/
.p_select-font {
  font-size: 90%;
  color: white;
  margin: 1.2%
}

/*大方格內漸層框框*/
.p_select_detail2 {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 90%;
  height: 90%;
  margin: 0px auto;
  background: -webkit-linear-gradient(90deg, rgb(39, 40, 43), rgb(120, 121, 125));
  background: linear-gradient(180deg, rgb(39, 40, 43), rgb(120, 121, 125));
}

.p_wrap-bank {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

/*發卡銀行*/
#p_bank {
  flex: 1;
  margin: 2% 2% 0 3%;
  font-size: 1em;
}

#p_bank-option {
  flex: 1;
  margin: 2% 2% 0 3%;
}

/*要小修寬度跟箭頭方向*/
#p_bank-option-content {
  font-size: 1em;
  border-radius: 7px;
  border-color: #F9D803;
  background-color: #323437;
  color: white;
}

/*選項*/
.p_equal {
  flex: 1;
  width: 100%;
  margin: 2% 2% 0 3%;
}

.d-none {
  display: none;
}

/*置底共用*/
.bottom {
  width: 100%;
  height: 8%;
  background-color: red;
}